.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
}


@media (max-width: 768px) {
    .loading {
        height: 100vh;
    }
}